.el-input__inner {
	border-radius: 0 !important;
	border: none !important;
	border-bottom: 1px solid #000 !important;
	font-family: NotoSansKR;
}


.el-button--default{
	color: #324b9b!important;
	border: 1px solid #324b9b !important;
}


.success_btn{
	background: #fff !important;
}
.success_btn:hover{
	color: #3fa535 !important;
}
.success_btn:active{
	color: #3fa535 !important;
}
.success_btn:focus{
	color: #3fa535 !important;
}
